#contact {
  background-image: url("../assets/images/Background_Contacts.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 128px 120px 200px 120px;

  .container-contact {
    width: 420px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      strong {
        color: var(--color-purple);
        font: var(--subtitle);
      }

      h2 {
        margin-top: 0;
      }
    }

    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 16px;

      li:hover img {
        filter: brightness(0) saturate(100%) invert(50%) sepia(63%)
          saturate(5082%) hue-rotate(183deg) brightness(93%) contrast(101%);
      }

      li {
        display: flex;
        align-items: center;

        list-style: none;
        border-radius: 8px;
        padding: 20px;
        height: 68px;
        background-color: var(--color-gray-400);
        border: 1.5px solid transparent;

        a {
          text-decoration: none;
          display: flex;
          align-items: center;
          width: 100%;
          display: flex;
          gap: 12px;

          strong {
            width: 100%;
          }
        }

        .logo-social {
          width: 28px;
          height: 28px;
        }

        .arrow-right {
          width: 20px;
          height: 20px;
        }
      }

      li:hover {
        border: 1.5px solid var(--color-blue);
      }
    }
  }
}
