* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-red: #e3664e;
  --color-purple: #bb72e9;
  --color-blue: #3996db;
  --color-green: #82bc4f;
  --color-yellow: #eabd5f;

  --color-gray-100: #e2e4e9;
  --color-gray-200: #c0c4ce;
  --color-gray-300: #878ea1;
  --color-gray-400: #292c34;
  --color-gray-500: #16181d;
  --color-gray-600: #0d0e11;

  --font-family-title: "Asap", sans-serif;
  --font-family-subtitle: "Inconsolata", sans-serif;
  --font-family: "Maven Pro", sans-serif;

  --title-lg: 700 56px/120% var(--font-family-title);
  --title-md: 700 24px/120% var(--font-family-title);
  --title-sm: 700 16px/120% var(--font-family-title);

  --subtitle: 400 20px/120% var(--font-family-subtitle);

  --text-md: 400 16px/140% var(--font-family);
  --text-sm: 400 14px/140% var(--font-family);
}

body {
  color: var(--color-gray-200);
}

h1 {
  font: var(--title-lg);
  color: var(--color-gray-100);
}

h2 {
  margin-top: 8px;
  font: var(--title-md);
  color: var(--color-gray-100);
}

h3 {
  font: var(--title-sm);
  color: var(--color-gray-100);
}

p {
  font: var(--text-sm);
  color: var(--color-gray-300);
}

a {
  color: inherit;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 140%;
  font-weight: 500;
}
