#info {
  position: relative;
  background-image: url("../assets/images/Background_Intro.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .container-info {
    position: absolute;
    width: 1040px;
    height: 447px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 80px;

    header {
      width: 680px;
      height: 327px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 56px;

      .avatar {
        width: 112px;
        height: 112px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        img:last-child {
          height: 96px;
          width: 96px;
        }
        img:first-child {
          position: absolute;
          bottom: 0;
          right: 0;
          height: 32px;
          width: 32px;
          margin-bottom: 4px;
          margin-right: 4px;
        }
      }

      .title {
        text-align: center;
        gap: 8px;
        margin-bottom: 20px;
        p {
          font: var(--subtitle);

          strong {
            color: var(--color-red);
          }
        }
        h1 {
          font: var(--title-lg);
          color: var(--color-gray-100);
        }
      }
      p {
        font: var(--text-sm);
        color: var(--color-gray-300);
      }
    }

    ul {
      display: flex;
      height: 40px;
      width: 754px;
      gap: 16px;

      li {
        list-style: none;
        background-color: var(--color-gray-400);
        padding-inline: 16px;
        padding-block: 8px;
        border-radius: 20px;

        a {
          display: flex;
          align-items: center;
          gap: 8px;
          text-decoration: none;
          color: inherit;
          font: var(--text-md);

          img {
            height: 24px;
            width: 24px;
          }
        }
      }
    }
  }
}
