#projects {
  background-color: var(--color-gray-500);
  padding-inline: 120px;
  padding-block: 72px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  header {
    text-align: center;

    strong {
      font: var(--subtitle);
      color: var(--color-red);
    }
  }
  .grid-container {
    height: 584px;
    width: 1040px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    .project-card {
      height: 280px;
      width: 330px;
      background-color: var(--color-gray-400);
      border-radius: 12px;

      border: 1px solid transparent;
    }

    .project-card:hover {
      border: 1px solid var(--color-gray-300);
    }

    .project-card a {
      padding: 12px;
      gap: 20px;
      display: flex;
      flex-direction: column;
      text-decoration: none;
    }

    img {
      border-radius: 8px;
      height: 156px;
    }

    .card-text {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 4px;
    }
  }
}
