#services {
  height: 480px;
  background-color: var(--color-gray-600);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container-services {
    width: 1366px;
    padding-inline: 120px;
    padding-top: 88px;
    padding-bottom: 120px;
    display: flex;
    gap: 56px;
    flex-direction: column;
    align-items: center;
  }

  header {
    text-align: center;
    strong {
      font: var(--subtitle);
      color: var(--color-red);
    }
  }

  .services-cards {
    width: 888px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    .service-card {
      width: 280px;
      height: 155px;
      border-radius: 12px;
      border: 1px solid var(--color-gray-500);
      padding: 20px;

      .description {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 8px;

        p {
          font: var(--text-sm);
          color: var(--color-gray-200);
        }
      }
    }
  }
}
